* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  /*
  outline: 1px solid pink;
	*/
  color: white;
}

.home_body {
  background: repeating-linear-gradient(
    45deg,
    #1a1a1a 0px,
    #1a1a1a 5px,
    #2d2d2d 5px,
    #2d2d2d 10px
  );
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh;
}

/* SITE NAVIGATION STYLES START */
.site_nav {
  width: 50vw;
  align-self: flex-end;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.site_nav {
  height: 15vh;
}

.site_nav > ul,
.soc_nav > ul {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
}

.site_nav > ul {
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 100pt;
  /*
  */
  padding: 3pt 0;
  outline: 3pt solid black;
  border: 5pt solid #2f2f2f;
  gap: 1rem;
}

.site_nav > ul > li > button {
  padding: 4pt 10pt;

  background-color: transparent;
  border: none;
  cursor: help;
  z-index: 1;

  position: relative;
}

.site_nav > ul > li:is(:first-child, :last-child) > button {
  width: 35pt;
  color: #161616;
  font-weight: bolder;
}

.site_nav > ul > li:is(:first-child) > button {
  color: #161616;
}

.site_nav > ul > li:is(:first-child) > button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 75%;
  height: 100%;

  outline: 6pt solid#2f2f2f;
  outline-offset: -2pt;
  border-radius: 100pt 0 0 100pt;
  background-color: #2f2f2f;
  z-index: -1;
}

.site_nav > ul > li:is(:first-child) > button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 5%;

  width: 50%;
  height: 100%;

  outline: 6pt solid#2f2f2f;
  outline-offset: -2pt;
  background-color: #2f2f2f;
  transform: skew(-20deg);
  z-index: -1;
}

.site_nav > ul > li:is(:last-child) > button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;

  width: 50%;
  height: 100%;

  outline: 6pt solid#2f2f2f;
  outline-offset: -2pt;
  background-color: #2f2f2f;
  transform: skew(-20deg);
  z-index: -1;
}

.site_nav > ul > li:is(:last-child) > button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 75%;
  height: 100%;

  outline: 6pt solid#2f2f2f;
  outline-offset: -2pt;
  border-radius: 0 100pt 100pt 0;
  background-color: #2f2f2f;
  z-index: -1;
}

.site_nav > ul > li:not(:first-child, :last-child) > button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;

  border-radius: 5pt;
  transform: skew(-20deg);
  z-index: -1;
}

.site_nav > ul > li:not(:first-child, :last-child) > button:hover {
  color: black;
}

.site_nav > ul > li:not(:first-child, :last-child) > button:hover::before {
  background-color: gold;

  outline: 4pt solid gold;
  outline-offset: -2pt;
}
/* SITE NAVIGATION STYLES END */

/* SOCIALS NAVIGATION STYLES START */
.soc_nav {
  width: 50vw;
  height: 25vh;
  align-self: flex-end;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.soc_nav > ul {
  background-color: black;
  border-radius: 100pt;
  outline: 3pt solid black;
  border: 5pt solid #2f2f2f;
}

.soc_nav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  padding: 10pt 35pt;
  text-decoration: none;
  height: 25pt;
}

.soc_nav > ul > li:hover {
  position: relative;
  z-index: 0;
}

.soc_nav > ul > li > a:hover {
  color: black;
}

.soc_nav > ul > li > a:hover::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 140%;
  background-color: gold;

  border-radius: 10pt;
  transform: skew(-30deg);
  z-index: -1;
}

.soc_nav > ul > li:is(:first-child) > a:hover::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -10%;
  width: 60%;
  height: 140%;
  border-radius: 100pt 0 0 100pt;
  transform: skew(0deg);
  z-index: -1;
}

.soc_nav > ul > li:is(:first-child) > a:hover::after {
  content: "";
  position: absolute;
  top: -20%;
  right: 0;
  width: 60%;
  height: 140%;

  border-radius: 0 10pt 10pt 0;
  transform: skew(-20deg);
  background-color: gold;
  z-index: -1;
}

.soc_nav > ul > li:is(:last-child) > a:hover::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 0;
  width: 60%;
  height: 140%;

  border-radius: 10pt 0 0 10pt;
  transform: skew(-20deg);
  background-color: gold;
  z-index: -1;
}

.soc_nav > ul > li:is(:last-child) > a:hover::after {
  content: "";
  position: absolute;
  top: -20%;
  right: -10%;
  width: 60%;
  height: 140%;

  border-radius: 0 100pt 100pt 0;
  transform: skew(0deg);

  background-color: gold;
  z-index: -1;
}

/* SOCIALS NAVIGATION STYLES END */

/* SITE CONTENT STYLES START */
.main_content {
  width: 100vw;
  height: 55vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}

.main_content > aside {
  width: 50vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.profile_info {
  display: flex;
  flex-flow: column nowrap;
  width: 350pt;
  background-color: #2f2f2f;
  border-radius: 15pt;
  gap: 1rem;
  outline: 3px solid black;
  border: 5px solid #2f2f2f;

  padding: 10pt 6pt;
}

.dev_info {
  padding: 0pt 10pt;

  color: #161616;
  font-weight: bolder;
}

.name_container {
  background-color: #060606;

  display: flex;
  flex-flow: column nowrap;
  height: 10vh;
  border-radius: 15pt;

  padding: 10pt;
}

.dev_nickname {
  margin-top: auto;
}

.dev_stats {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 0.5rem 0rem;
}

.dev_stats > * {
  background-color: #060606;
  border-radius: 15pt;

  padding: 10pt;
}

.to_projects_btn {
  background-color: #2f2f2f;
  padding: 1pt 6pt;
  border-radius: 15pt;
  outline: 3pt solid black;
  outline-offset: -2pt;
  border: 5pt solid #2f2f2f;

  text-align: end;
  text-decoration: none;
  color: white;
  font-weight: bolder;

  width: fit-content;
  align-self: flex-end;
}

.to_projects_btn:hover {
  border-color: black;

  outline: 3pt solid black;
  outline-offset: -2pt;

  background-color: black;
  cursor: help;
  text-decoration: underline;
}

.hidden {
  display: none;
}

/* SITE CONTENT STYLES END */

/* SITE FOOTER STYLES START */
footer {
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-color: black;
}
/* SITE FOOTER STYLES END */
