* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  /*
	*/
  outline: 1px solid pink;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.home_body {
  background: repeating-linear-gradient(
    60deg,
    #1a1a1a 0px,
    #1a1a1a 5px,
    #2d2d2d 5px,
    #2d2d2d 10px
  );
  display: flex;
  flex-flow: column nowrap;

  align-items: center;

  height: 100vh;
  min-height: 720px;

  /* remove later...
  overflow: hidden;
  */
}

/* SITE NAVIGATION STYLES START */
.site_nav {
  width: 50vw;
  align-self: flex-end;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.site_nav {
  height: 15vh;
}

.site_nav > ul,
.soc_nav > ul {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
}

.site_nav > ul {
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 100pt;
  /*
  */
  padding: 3pt 0;
  outline: 3pt solid black;
  border: 5pt solid #2f2f2f;
  gap: 1rem;
}

.site_nav > ul > li > button {
  padding: 4pt 10pt;

  background-color: transparent;
  border: none;
  cursor: help;
  z-index: 1;

  position: relative;
}

.site_nav > ul > li:is(:first-child, :last-child) > button {
  width: 35pt;
  color: #161616;
  font-weight: bolder;
}

.site_nav > ul > li:is(:first-child) > button {
  color: #161616;
}

.site_nav > ul > li:is(:first-child) > button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 75%;
  height: 100%;

  outline: 6pt solid#2f2f2f;
  outline-offset: -2pt;
  border-radius: 100pt 0 0 100pt;
  background-color: #2f2f2f;
  z-index: -1;
}

.site_nav > ul > li:is(:first-child) > button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 5%;

  width: 50%;
  height: 100%;

  outline: 6pt solid#2f2f2f;
  outline-offset: -2pt;
  background-color: #2f2f2f;
  transform: skew(-20deg);
  z-index: -1;
}

.site_nav > ul > li:is(:last-child) > button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;

  width: 50%;
  height: 100%;

  outline: 6pt solid#2f2f2f;
  outline-offset: -2pt;
  background-color: #2f2f2f;
  transform: skew(-20deg);
  z-index: -1;
}

.site_nav > ul > li:is(:last-child) > button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 75%;
  height: 100%;

  outline: 6pt solid#2f2f2f;
  outline-offset: -2pt;
  border-radius: 0 100pt 100pt 0;
  background-color: #2f2f2f;
  z-index: -1;
}

.site_nav > ul > li:not(:first-child, :last-child) > button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;

  border-radius: 5pt;
  transform: skew(-20deg);
  z-index: -1;
}

.site_nav > ul > li:not(:first-child, :last-child) > button:hover,
.site_nav > ul > li:not(:first-child, :last-child) > button.active {
  color: black;
}

.site_nav > ul > li:not(:first-child, :last-child) > button:hover::before,
.site_nav > ul > li:not(:first-child, :last-child) > button.active::before {
  background-color: gold;

  outline: 4pt solid gold;
  outline-offset: -2pt;
}
/* SITE NAVIGATION STYLES END */

/* SOCIALS NAVIGATION STYLES START */
.soc_nav {
  width: 50vw;
  height: 15vh;
  align-self: flex-end;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.soc_nav > ul {
  background-color: black;
  border-radius: 100pt;
  outline: 3pt solid black;
  border: 5pt solid #2f2f2f;
}

.soc_nav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  padding: 10pt 35pt;
  text-decoration: none;
  height: 20pt;
}

.soc_nav > ul > li:hover {
  position: relative;
  z-index: 0;
}

.soc_nav > ul > li > a:hover {
  color: black;
}

.soc_nav > ul > li > a:hover::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 140%;
  background-color: gold;

  border-radius: 10pt;
  transform: skew(-30deg);
  z-index: -1;
}

.soc_nav > ul > li:is(:first-child) > a:hover::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -10%;
  width: 60%;
  height: 140%;
  border-radius: 100pt 0 0 100pt;
  transform: skew(0deg);
  z-index: -1;
}

.soc_nav > ul > li:is(:first-child) > a:hover::after {
  content: "";
  position: absolute;
  top: -20%;
  right: 0;
  width: 60%;
  height: 140%;

  border-radius: 0 10pt 10pt 0;
  transform: skew(-20deg);
  background-color: gold;
  z-index: -1;
}

.soc_nav > ul > li:is(:last-child) > a:hover::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 0;
  width: 60%;
  height: 140%;

  border-radius: 10pt 0 0 10pt;
  transform: skew(-20deg);
  background-color: gold;
  z-index: -1;
}

.soc_nav > ul > li:is(:last-child) > a:hover::after {
  content: "";
  position: absolute;
  top: -20%;
  right: -10%;
  width: 60%;
  height: 140%;

  border-radius: 0 100pt 100pt 0;
  transform: skew(0deg);

  background-color: gold;
  z-index: -1;
}

/* SOCIALS NAVIGATION STYLES END */

/* SITE CONTENT STYLES START */
.main_content {
  display: none;
  width: 100vw;
  height: 65vh;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}

.main_content > aside {
  width: 50vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.profile_info {
  display: flex;
  flex-flow: column nowrap;
  width: 350pt;
  background-color: #2f2f2f;
  border-radius: 15pt;
  gap: 1rem;
  outline: 3px solid black;
  border: 5px solid #2f2f2f;

  padding: 10pt 6pt;

  animation: slideIn 0.25s ease-out forwards;
}

.skills_info {
  position: relative;

  width: 400pt;
  height: 400pt;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  animation: slideIn 0.25s ease-out forwards;
}

.skills_info::before {
  content: "";

  position: absolute;
  top: 3pt;
  left: 3pt;
  z-index: 2;

  width: 394pt;
  height: 394pt;

  background-color: #2f2f2f;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.skills_info::after {
  position: absolute;
  top: 0%;
  left: 0%;

  z-index: 0;
  content: "";
  width: 400pt;
  height: 400pt;
  background-color: black;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.skillImg {
  height: 100pt;
  width: 100pt;

  position: absolute;
  z-index: 1;

  background-color: black;
  border-radius: 75pt;

  transform-origin: 0% 100%;
}

.skillImg:nth-child(1) {
  top: calc(-1 * 100pt / 2);
  left: calc(100pt / 2);
}

.skillImg:nth-child(2) {
  top: calc(400pt / 2 - 100pt / 2);
  left: calc(-1 * (100pt / 2));
}

.skillImg:nth-child(3) {
  top: calc(400pt - 100pt / 2);
  left: calc(100pt / 2);
}

.skillImg:nth-child(4) {
  top: calc(400pt - 100pt / 2);
  left: calc(400pt - 100pt * 1.5);
}

.skillImg:nth-child(5) {
  top: calc(400pt / 2 - 100pt / 2);
  left: calc(400pt - 100pt / 2);
}

.skillImg:nth-child(6) {
  top: calc(-1 * 100pt / 2);
  left: calc(400pt - 100pt * 1.5);
}

.skillImg:nth-child(7) {
  z-index: 3;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.dev_info {
  padding: 0pt 10pt;

  color: #161616;
  font-weight: bolder;
}

.name_container {
  background-color: #060606;

  display: flex;
  flex-flow: column nowrap;
  height: 10vh;
  border-radius: 15pt;

  padding: 10pt;
}

.dev_nickname {
  margin-top: auto;
}

.dev_stats {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 0.5rem 0rem;
}

.dev_stats > * {
  background-color: #060606;
  border-radius: 15pt;

  padding: 10pt;
}

.to_projects_btn {
  background-color: #2f2f2f;
  padding: 1pt 6pt;
  border-radius: 15pt;
  outline: 3pt solid black;
  outline-offset: -2pt;
  border: 5pt solid #2f2f2f;

  text-align: end;
  text-decoration: none;
  color: white;
  font-weight: bolder;

  width: fit-content;
  align-self: flex-end;
}

.to_projects_btn:hover {
  border-color: black;

  outline: 3pt solid black;
  outline-offset: -2pt;

  background-color: black;
  cursor: help;
  text-decoration: underline;
}

/* SITE CONTENT STYLES END */

/* SITE FOOTER STYLES START */
footer {
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-color: black;
}
/* SITE FOOTER STYLES END */

/* CHARACTER BACKGROUND SCROLL START */

:root {
  --bgHeight: 100px;
}

@keyframes bgScroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes bgScroll-alt {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.scrollBG {
  width: 1000vw;
  height: var(--bgHeight);

  display: block;
  position: relative;
  transform-origin: 0% 100%;
  top: calc(var(--bgHeight) * -1);
  left: calc(var(--bgHeight) * -1);
  rotate: 60deg;
  margin-bottom: var(--bgHeight);

  background-size: auto 100px;
  background-repeat: repeat;
  background-image: url("../assests/img/filmstrip-png-33816.png");

  animation-duration: 720s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scrollingBG {
  background-color: grey;
  animation-name: bgScroll;
}

.scrollingBG-alt {
  background-color: cyan;
  animation-name: bgScroll-alt;
}

.scrollCont {
  overflow: hidden;
  width: 1000vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  z-index: -99;
}

/* CHARACTER BACKGROUND SCROLL END*/
