* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  outline: 1px solid pink;
  /*
  */
}

.home_body {
  background: repeating-linear-gradient(
    45deg,
    #1a1a1a 0px,
    #1a1a1a 5px,
    #2d2d2d 5px,
    #2d2d2d 10px
  );

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh;
}

.nav_row > ul {
  list-style: none;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2rem;
}

.site_nav {
  width: 50vw;
  align-self: flex-end;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  margin-top: 10pt;
}

.site_nav > ul {
  background-color: #2f2f2f;
  border-radius: 100pt;
  width: fit-content;
  padding: 15pt 35pt;
}

.main_content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  gap: 0rem;
  height: 85vh;
  /*
  */
  width: 100%;
}

.main_content > * {
  width: 50vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.profile_img {
  width: 50vw;
  align-self: flex-end;
}

.profile_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 35vw;
  padding: 2vh 2vw;
  background-color: #2f2f2f;
  border-radius: 10pt;
}

footer {
  width: 100vw;
  align-self: flex-end;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: #2f2f2f;
  line-height: 50pt;
}
